html{
scroll-behavior:smooth;
}

.hero{
text-align:center;
padding:80px 20px;
}

.profile{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
box-shadow:0 0 20px #0077ff;
}

.buttons{
margin-top:25px;
}

.btn{
padding:12px 25px;
margin:10px;
background:#0077ff;
color:white;
text-decoration:none;
border-radius:8px;
transition:.3s;
}

.btn:hover{
background:#0056b3;
}

.social{
margin-top:20px;
}

.social a{
font-size:28px;
margin:15px;
color:#0077ff;
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.card{
padding:25px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.2);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.bar{
background:#ddd;
height:12px;
border-radius:20px;
margin-bottom:20px;
}

.fill{
height:100%;
background:#0077ff;
border-radius:20px;
}

.html{width:95%;}
.css{width:90%;}
.js{width:80%;}
.java{width:85%;}
.sql{width:75%;}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
margin:auto;
}

input,textarea{
padding:12px;
border:1px solid #ccc;
border-radius:8px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

#topBtn{
position:fixed;
bottom:20px;
right:20px;
padding:12px;
display:none;
}
